[Unit]
Description=Managment for the Docker Container for the Nisotak Microservices & Teacher App
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker-compose -f /var/www/nisotak-project/docker-compose.prod.yml up
ExecStop=/usr/bin/docker-compose -f /var/www/nisotak-project/docker-compose.prod.yml down
Restart=on-failure

[Install]
WantedBy=multi-user.target
